# Data Cleaning

In [2]:
# Import Statements
import pandas as pd

### "Rice Domestic Consumption" Data Cleaning

In [6]:
dc = pd.read_csv("../Dataset/domestic_consumption.csv")
dc.head()

   Market Year  Domestic Consumption Unit of Measure Growth Rate
0         1960                   192       (1000 MT)         NaN
1         1961                   192       (1000 MT)       0.00%
2         1962                   162       (1000 MT)     -15.63%
3         1963                   217       (1000 MT)      33.95%
4         1964                   161       (1000 MT)     -25.81%

In [59]:
dc1 = dc[dc['Market Year']>=2004]
dc1.reset_index(inplace=True, drop=True)
dc2 = dc1.drop(columns=['Unit of Measure', 'Growth Rate'])
dc2.head()

   Market Year  Domestic Consumption
0         2004                   198
1         2005                   233
2         2006                   250
3         2007                   274
4         2008                   246

In [60]:
dc2.rename(columns={'Market Year': 'Year', 'Domestic Consumption': 'Rice Domestic Consumption (1000 MT)'}, inplace=True)
dc2.head()

   Year  Rice Domestic Consumption (1000 MT)
0  2004                                  198
1  2005                                  233
2  2006                                  250
3  2007                                  274
4  2008                                  246

In [61]:
dc2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 20 non-null     int64
 1   Rice Domestic Consumption (1000 MT)  20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes

### "Singapore Population" Data Cleaning

In [15]:
sp = pd.read_csv("../Dataset/sing_population.csv")
sp.head()

,Country,Year,Total Population (Number),Resident Population (Number),Singapore Citizen Population (Number),Permanent Resident Population (Number),Non-Resident Population (Number),Total Population Growth (Per Cent),Resident Population Growth (Per Cent),Population Density (Total Population Per Square Kilometre),...,Old-Age Support Ratio: Citizens Aged 15-64 Years Per Citizen Aged 65 Years & Over (Number),Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number),Child Dependency Ratio: Citizens Aged Under 15 Years Per Hundred Citizens Aged 15-64 Years (Number),Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number),Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over (Number),Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years (Number),Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Resident Natural Increase (Number),Rate Of Natural Increase (Per Thousand Residents)
0,Sinagpore,2023,"5,917,648","4,149,253","3,610,658","538,595","1,768,395",5.0,1.9,"8,058",...,3.5,51.1,22.3,28.9,3.2,63.9,32.6,31.3,"4,951",1.2
1,Sinagpore,2022,"5,637,022","4,073,239","3,553,749","519,490","1,563,783",3.4,2.2,"7,688",...,3.6,50.0,22.4,27.6,3.3,62.7,32.8,29.9,"6,704",1.6
2,Sinagpore,2021,"5,453,566","3,986,842","3,498,191","488,651","1,466,724",-4.1,-1.4,"7,485",...,3.8,48.7,22.5,26.2,3.5,61.4,33.0,28.5,"10,913",2.7
3,Sinagpore,2020,"5,685,807","4,044,210","3,523,191","521,019","1,641,597",-0.3,0.4,"7,810",...,4.1,46.8,22.2,24.6,3.7,59.7,32.9,26.8,"13,248",3.3
4,Sinagpore,2019,"5,703,569","4,026,209","3,500,940","525,269","1,677,360",1.2,0.8,"7,866",...,4.3,45.2,22.0,23.2,4.0,58.4,33.1,25.3,"15,042",3.7

In [29]:
len(sp)

24

In [28]:
sp1 = sp[sp['Year']>=2004]
sp1.reset_index(inplace=True, drop=True)
sp1.head()

,Country,Year,Total Population (Number),Resident Population (Number),Singapore Citizen Population (Number),Permanent Resident Population (Number),Non-Resident Population (Number),Total Population Growth (Per Cent),Resident Population Growth (Per Cent),Population Density (Total Population Per Square Kilometre),...,Old-Age Support Ratio: Citizens Aged 15-64 Years Per Citizen Aged 65 Years & Over (Number),Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number),Child Dependency Ratio: Citizens Aged Under 15 Years Per Hundred Citizens Aged 15-64 Years (Number),Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number),Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over (Number),Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years (Number),Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Resident Natural Increase (Number),Rate Of Natural Increase (Per Thousand Residents)
0,Sinagpore,2023,"5,917,648","4,149,253","3,610,658","538,595","1,768,395",5.0,1.9,"8,058",...,3.5,51.1,22.3,28.9,3.2,63.9,32.6,31.3,"4,951",1.2
1,Sinagpore,2022,"5,637,022","4,073,239","3,553,749","519,490","1,563,783",3.4,2.2,"7,688",...,3.6,50.0,22.4,27.6,3.3,62.7,32.8,29.9,"6,704",1.6
2,Sinagpore,2021,"5,453,566","3,986,842","3,498,191","488,651","1,466,724",-4.1,-1.4,"7,485",...,3.8,48.7,22.5,26.2,3.5,61.4,33.0,28.5,"10,913",2.7
3,Sinagpore,2020,"5,685,807","4,044,210","3,523,191","521,019","1,641,597",-0.3,0.4,"7,810",...,4.1,46.8,22.2,24.6,3.7,59.7,32.9,26.8,"13,248",3.3
4,Sinagpore,2019,"5,703,569","4,026,209","3,500,940","525,269","1,677,360",1.2,0.8,"7,866",...,4.3,45.2,22.0,23.2,4.0,58.4,33.1,25.3,"15,042",3.7

In [30]:
len(sp1)

20

In [31]:
sp1 = sp.drop(columns=['Country'])
sp1.head()

,Year,Total Population (Number),Resident Population (Number),Singapore Citizen Population (Number),Permanent Resident Population (Number),Non-Resident Population (Number),Total Population Growth (Per Cent),Resident Population Growth (Per Cent),Population Density (Total Population Per Square Kilometre),Sex Ratio (Males Per Thousand Females),...,Old-Age Support Ratio: Citizens Aged 15-64 Years Per Citizen Aged 65 Years & Over (Number),Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number),Child Dependency Ratio: Citizens Aged Under 15 Years Per Hundred Citizens Aged 15-64 Years (Number),Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number),Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over (Number),Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years (Number),Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Resident Natural Increase (Number),Rate Of Natural Increase (Per Thousand Residents)
0,2023,"5,917,648","4,149,253","3,610,658","538,595","1,768,395",5.0,1.9,"8,058",950,...,3.5,51.1,22.3,28.9,3.2,63.9,32.6,31.3,"4,951",1.2
1,2022,"5,637,022","4,073,239","3,553,749","519,490","1,563,783",3.4,2.2,"7,688",955,...,3.6,50.0,22.4,27.6,3.3,62.7,32.8,29.9,"6,704",1.6
2,2021,"5,453,566","3,986,842","3,498,191","488,651","1,466,724",-4.1,-1.4,"7,485",960,...,3.8,48.7,22.5,26.2,3.5,61.4,33.0,28.5,"10,913",2.7
3,2020,"5,685,807","4,044,210","3,523,191","521,019","1,641,597",-0.3,0.4,"7,810",957,...,4.1,46.8,22.2,24.6,3.7,59.7,32.9,26.8,"13,248",3.3
4,2019,"5,703,569","4,026,209","3,500,940","525,269","1,677,360",1.2,0.8,"7,866",957,...,4.3,45.2,22.0,23.2,4.0,58.4,33.1,25.3,"15,042",3.7

In [32]:
sp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 30 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Year                                                                                                                     24 non-null     int64
 1   Total Population (Number)                                                                                                24 non-null     object
 2   Resident Population (Number)                                                                                             24 non-null     object
 3   Singapore Citizen Population (Number)                                                                                    24 non-null     object
 4   Permanent Resident Population (Number)                                                                                   24 non-null     object
 5   Non-Resident Population (Number)                                                                                         24 non-null     object
 6   Total Population Growth (Per Cent)                                                                                       24 non-null     float64
 7   Resident Population Growth (Per Cent)                                                                                    24 non-null     float64
 8   Population Density (Total Population Per Square Kilometre)                                                               24 non-null     object
 9   Sex Ratio (Males Per Thousand Females)                                                                                   24 non-null     int64
 10  Median Age Of Resident Population (Years)                                                                                24 non-null     float64
 11  Median Age Of Citizen Population (Years)                                                                                 24 non-null     float64
 12  Old-Age Support Ratio: Residents Aged 15-64 Years Per Resident Aged 65 Years & Over (Number)                             24 non-null     float64
 13  Age Dependency Ratio: Residents Aged Under 15 Years And 65 Years Per Hundred Residents Aged 15-64 Years (Number)         24 non-null     float64
 14  Child Dependency Ratio: Residents Aged Under 15 Years Per Hundred Residents Aged 15-64 Years (Number)                    24 non-null     float64
 15  Old-Age Dependency Ratio: Residents Aged 65 Years & Over Per Hundred Residents Aged 15-64 Years (Number)                 24 non-null     float64
 16  Old-Age Support Ratio: Residents Aged 20-64 Years Per Resident Aged 65 Years & Over (Number)                             24 non-null     float64
 17  Age Dependency Ratio: Residents Aged Under 20 Years And 65 Years & Over Per Hundred Residents Aged 20-64 Years (Number)  24 non-null     float64
 18  Child Dependency Ratio: Residents Aged Under 20 Years Per Hundred Residents Aged 20-64 Years (Number)                    24 non-null     float64
 19  Old-Age Dependency Ratio: Residents Aged 65 Years & Over Per Hundred Residents Aged 20-64 Years (Number)                 24 non-null     float64
 20  Old-Age Support Ratio: Citizens Aged 15-64 Years Per Citizen Aged 65 Years & Over (Number)                               24 non-null     float64
 21  Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number)    24 non-null     float64
 22  Child Dependency Ratio: Citizens Aged Under 15 Years Per Hundred Citizens Aged 15-64 Years (Number)                      24 non-null     float64
 23  Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number)                   24 non-null     float64
 24  Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over (Number)                               24 non-null     float64
 25  Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number)    24 non-null     float64
 26  Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years (Number)                      24 non-null     float64
 27  Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number)                   24 non-null     float64
 28  Resident Natural Increase (Number)                                                                                       24 non-null     object
 29  Rate Of Natural Increase (Per Thousand Residents)                                                                        24 non-null     float64
dtypes: float64(21), int64(2), object(7)
memory usage: 5.8+ KB

### "Rice Price" Data Cleaning

In [21]:
rp = pd.read_csv("../Dataset/rice_price.csv")
rp.head()

   Year  Mean_Price_USD_per_Metric_Ton
0  2004                         250.78
1  2005                         287.08
2  2006                         310.95
3  2007                         319.55
4  2008                         577.13

In [27]:
rp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           20 non-null     int64
 1   Mean_Price_USD_per_Metric_Ton  20 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 448.0 bytes

### "Sinagpore GDP" Data Cleaning

In [67]:
gdp = pd.read_csv("../Dataset/sing_gdp.csv")
gdp.head()

,DataSeries,Per Capita GNI,Per Capita GDP,Per Capita GNI (US Dollar),Per Capita GDP (US Dollar)
0,2023,95455,113779,71071,84714
1,2022,98550,121914,71470,88414
2,2021,90948,106942,67670,79570
3,2020,73243,84808,53105,61491
4,2019,79698,90145,58421,66079

In [76]:
gdp1 = gdp[gdp['DataSeries']>=2004]
gdp1.reset_index(inplace=True, drop=True)
gdp2 = gdp1.rename(columns={"DataSeries":"Year"})
gdp2.head()

,Year,Per Capita GNI,Per Capita GDP,Per Capita GNI (US Dollar),Per Capita GDP (US Dollar)
0,2023,95455,113779,71071,84714
1,2022,98550,121914,71470,88414
2,2021,90948,106942,67670,79570
3,2020,73243,84808,53105,61491
4,2019,79698,90145,58421,66079

In [78]:
print(len(gdp2))
print(len(gdp))

20
64

In [79]:
gdp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        20 non-null     int64
 1   Per Capita GNI              20 non-null     int64
 2   Per Capita GDP              20 non-null     int64
 3   Per Capita GNI (US Dollar)  20 non-null     int64
 4   Per Capita GDP (US Dollar)  20 non-null     int64
dtypes: int64(5)
memory usage: 928.0 bytes

### "Singapore Inflation" Data Cleaning

In [83]:
si = pd.read_csv("../Dataset/sing_inflation.csv")
si.head()

   Inflation, consumer prices (annual %)  Country Name
0                               1.662727          2004
1                               0.425106          2005
2                               0.962902          2006
3                               2.104880          2007
4                               6.627782          2008

In [84]:
si1 = si.rename(columns={"Country Name": "Year"})
si1.head()

   Inflation, consumer prices (annual %)  Year
0                               1.662727  2004
1                               0.425106  2005
2                               0.962902  2006
3                               2.104880  2007
4                               6.627782  2008

### "India Precipitation" Data Cleaning

In [33]:
ip = pd.read_csv("../Dataset/india_rainfall.csv")
ip.head()

   Year  Precipitation(mm)
0  2004            1030.22
1  2005            1116.76
2  2006            1190.39
3  2007            1136.20
4  2008            1157.89

In [36]:
ip1 = ip.rename(columns={"Precipitation(mm)":"India_Precipitation(mm)"})
ip1.head()

   Year  India_Precipitation(mm)
0  2004                  1030.22
1  2005                  1116.76
2  2006                  1190.39
3  2007                  1136.20
4  2008                  1157.89

In [65]:
ip1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     19 non-null     int64
 1   India_Precipitation(mm)  19 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 432.0 bytes

### "India Surface Temperature" Data Cleaning

In [34]:
ist = pd.read_csv("../Dataset/india_temp.csv")
ist.head()

   Category  Annual Mean  5-yr smooth
0      1901        24.39        24.50
1      1902        24.64        24.37
2      1903        24.08        24.25
3      1904        24.12        24.15
4      1905        23.99        24.08

In [48]:
ist1 = ist.drop(columns=['5-yr smooth'])
ist2 = ist1[ist1["Category"]>=2004]
ist3 = ist2.rename(columns={"Category":"Year", "Annual Mean":"India_Temp(°C)"})
ist3.head()

     Year  India_Temp(°C)
103  2004           25.04
104  2005           24.81
105  2006           25.11
106  2007           25.13
107  2008           24.87

In [66]:
ist1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     122 non-null    int64
 1   Annual Mean  122 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 2.0 KB

### "Thailand Precipitaion" Data Cleaning

In [46]:
tp = pd.read_csv("../Dataset/thai_rainfall.csv")
tp.head()

   Category  Annual Mean  5-yr smooth
0      1901      1597.72      1532.40
1      1902      1509.18      1549.99
2      1903      1531.85      1566.54
3      1904      1569.10      1581.08
4      1905      1615.15      1592.48

In [49]:
tp1 = tp.drop(columns=['5-yr smooth'])
tp2 = tp1[tp1["Category"]>=2004]
tp3 = tp2.rename(columns={"Category":"Year", "Annual Mean":"Thailand_Precipitation(mm)"})
tp3.head()

     Year  Thailand_Precipitation(mm)
103  2004                     1438.80
104  2005                     1581.45
105  2006                     1714.52
106  2007                     1662.52
107  2008                     1712.79

### "Thailand Surface Temperature" Data Cleaning

In [51]:
tst = pd.read_csv("../Dataset/thai_temp.csv")
tst.head()

   Category  Annual Mean  5-yr smooth
0      1901        26.59        26.44
1      1902        26.52        26.48
2      1903        26.19        26.51
3      1904        26.04        26.54
4      1905        27.10        26.55

In [53]:
tst1 = tst.drop(columns=['5-yr smooth'])
tst2 = tst1[tst1["Category"]>=2004]
tst3 = tst2.rename(columns={"Category":"Year", "Annual Mean":"Thailand_Temp(°C)"})
tst3.head()

     Year  Thailand_Temp(°C)
103  2004              26.64
104  2005              26.85
105  2006              26.74
106  2007              26.64
107  2008              26.29

### Merge Datasets

In [75]:
## India Merge
merge1 = ip1.merge(ist3, left_on="Year", right_on="Year")
merge1.head()

   Year  India_Precipitation(mm)  India_Temp(°C)
0  2004                  1030.22           25.04
1  2005                  1116.76           24.81
2  2006                  1190.39           25.11
3  2007                  1136.20           25.13
4  2008                  1157.89           24.87

In [64]:
## Thailand Merge
merge2 = tp3.merge(tst3, left_on="Year", right_on="Year")
merge2.head()

   Year  Thailand_Precipitation(mm)  Thailand_Temp(°C)
0  2004                     1438.80              26.64
1  2005                     1581.45              26.85
2  2006                     1714.52              26.74
3  2007                     1662.52              26.64
4  2008                     1712.79              26.29

In [81]:
## Singapore Merge
merge3 = dc2.merge(gdp2, left_on="Year", right_on="Year")
merge3.head()

,Year,Rice Domestic Consumption (1000 MT),Per Capita GNI,Per Capita GDP,Per Capita GNI (US Dollar),Per Capita GDP (US Dollar)
0,2004,198,43841,46664,25937,27607
1,2005,233,47046,49867,28263,29957
2,2006,250,52201,53655,32854,33769
3,2007,274,57866,59429,38396,39433
4,2008,246,54524,56607,38538,40011

In [85]:
merge4 = si1.merge(rp, left_on="Year", right_on="Year")
merge4.head()

   Inflation, consumer prices (annual %)  Year  Mean_Price_USD_per_Metric_Ton
0                               1.662727  2004                         250.78
1                               0.425106  2005                         287.08
2                               0.962902  2006                         310.95
3                               2.104880  2007                         319.55
4                               6.627782  2008                         577.13

In [88]:
merge5 = merge3.merge(merge4, left_on="Year", right_on="Year")
merge5.head()

,Year,Rice Domestic Consumption (1000 MT),Per Capita GNI,Per Capita GDP,Per Capita GNI (US Dollar),Per Capita GDP (US Dollar),"Inflation, consumer prices (annual %)",Mean_Price_USD_per_Metric_Ton
0,2004,198,43841,46664,25937,27607,1.662727,250.78
1,2005,233,47046,49867,28263,29957,0.425106,287.08
2,2006,250,52201,53655,32854,33769,0.962902,310.95
3,2007,274,57866,59429,38396,39433,2.104880,319.55
4,2008,246,54524,56607,38538,40011,6.627782,577.13

In [89]:
merge6 = merge5.merge(sp1, left_on="Year", right_on="Year")
merge6.head()

,Year,Rice Domestic Consumption (1000 MT),Per Capita GNI,Per Capita GDP,Per Capita GNI (US Dollar),Per Capita GDP (US Dollar),"Inflation, consumer prices (annual %)",Mean_Price_USD_per_Metric_Ton,Total Population (Number),Resident Population (Number),...,Old-Age Support Ratio: Citizens Aged 15-64 Years Per Citizen Aged 65 Years & Over (Number),Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number),Child Dependency Ratio: Citizens Aged Under 15 Years Per Hundred Citizens Aged 15-64 Years (Number),Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number),Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over (Number),Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years (Number),Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Resident Natural Increase (Number),Rate Of Natural Increase (Per Thousand Residents)
0,2004,198,43841,46664,25937,27607,1.662727,250.78,"4,166,664","3,413,266",...,8.4,41.5,29.7,11.9,7.6,57.3,44.1,13.2,"20,210",5.9
1,2005,233,47046,49867,28263,29957,0.425106,287.08,"4,265,762","3,467,814",...,8.1,41.1,28.8,12.4,7.2,57.2,43.4,13.8,"20,243",5.8
2,2006,250,52201,53655,32854,33769,0.962902,310.95,"4,401,365","3,525,894",...,7.8,40.6,27.8,12.9,6.9,57.2,42.8,14.4,"20,858",5.9
3,2007,274,57866,59429,38396,39433,2.104880,319.55,"4,588,599","3,583,082",...,7.6,40.0,26.8,13.2,6.8,57.0,42.2,14.8,"21,029",5.9
4,2008,246,54524,56607,38538,40011,6.627782,577.13,"4,839,396","3,642,659",...,7.5,39.4,26.0,13.4,6.7,56.2,41.2,15.0,"21,115",5.8

In [91]:
## Thailand & India Merge
merge7 = merge1.merge(merge2, left_on="Year", right_on="Year")
merge7.head()

,Year,India_Precipitation(mm),India_Temp(°C),Thailand_Precipitation(mm),Thailand_Temp(°C)
0,2004,1030.22,25.04,1438.80,26.64
1,2005,1116.76,24.81,1581.45,26.85
2,2006,1190.39,25.11,1714.52,26.74
3,2007,1136.20,25.13,1662.52,26.64
4,2008,1157.89,24.87,1712.79,26.29

In [92]:
## Final Merge
final_merge = merge6.merge(merge7, right_on="Year", left_on="Year")
final_merge.head()

,Year,Rice Domestic Consumption (1000 MT),Per Capita GNI,Per Capita GDP,Per Capita GNI (US Dollar),Per Capita GDP (US Dollar),"Inflation, consumer prices (annual %)",Mean_Price_USD_per_Metric_Ton,Total Population (Number),Resident Population (Number),...,Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over (Number),Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years (Number),Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number),Resident Natural Increase (Number),Rate Of Natural Increase (Per Thousand Residents),India_Precipitation(mm),India_Temp(°C),Thailand_Precipitation(mm),Thailand_Temp(°C)
0,2004,198,43841,46664,25937,27607,1.662727,250.78,"4,166,664","3,413,266",...,7.6,57.3,44.1,13.2,"20,210",5.9,1030.22,25.04,1438.80,26.64
1,2005,233,47046,49867,28263,29957,0.425106,287.08,"4,265,762","3,467,814",...,7.2,57.2,43.4,13.8,"20,243",5.8,1116.76,24.81,1581.45,26.85
2,2006,250,52201,53655,32854,33769,0.962902,310.95,"4,401,365","3,525,894",...,6.9,57.2,42.8,14.4,"20,858",5.9,1190.39,25.11,1714.52,26.74
3,2007,274,57866,59429,38396,39433,2.104880,319.55,"4,588,599","3,583,082",...,6.8,57.0,42.2,14.8,"21,029",5.9,1136.20,25.13,1662.52,26.64
4,2008,246,54524,56607,38538,40011,6.627782,577.13,"4,839,396","3,642,659",...,6.7,56.2,41.2,15.0,"21,115",5.8,1157.89,24.87,1712.79,26.29

In [94]:
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 0 to 18
Data columns (total 41 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Year                                                                                                                     19 non-null     int64
 1   Rice Domestic Consumption (1000 MT)                                                                                      19 non-null     int64
 2   Per Capita GNI                                                                                                           19 non-null     int64
 3   Per Capita GDP                                                                                                           19 non-null     int64
 4   Per Capita GNI (US Dollar)                                                                                               19 non-null     int64
 5   Per Capita GDP (US Dollar)                                                                                               19 non-null     int64
 6   Inflation, consumer prices (annual %)                                                                                    19 non-null     float64
 7   Mean_Price_USD_per_Metric_Ton                                                                                            19 non-null     float64
 8   Total Population (Number)                                                                                                19 non-null     object
 9   Resident Population (Number)                                                                                             19 non-null     object
 10  Singapore Citizen Population (Number)                                                                                    19 non-null     object
 11  Permanent Resident Population (Number)                                                                                   19 non-null     object
 12  Non-Resident Population (Number)                                                                                         19 non-null     object
 13  Total Population Growth (Per Cent)                                                                                       19 non-null     float64
 14  Resident Population Growth (Per Cent)                                                                                    19 non-null     float64
 15  Population Density (Total Population Per Square Kilometre)                                                               19 non-null     object
 16  Sex Ratio (Males Per Thousand Females)                                                                                   19 non-null     int64
 17  Median Age Of Resident Population (Years)                                                                                19 non-null     float64
 18  Median Age Of Citizen Population (Years)                                                                                 19 non-null     float64
 19  Old-Age Support Ratio: Residents Aged 15-64 Years Per Resident Aged 65 Years & Over (Number)                             19 non-null     float64
 20  Age Dependency Ratio: Residents Aged Under 15 Years And 65 Years Per Hundred Residents Aged 15-64 Years (Number)         19 non-null     float64
 21  Child Dependency Ratio: Residents Aged Under 15 Years Per Hundred Residents Aged 15-64 Years (Number)                    19 non-null     float64
 22  Old-Age Dependency Ratio: Residents Aged 65 Years & Over Per Hundred Residents Aged 15-64 Years (Number)                 19 non-null     float64
 23  Old-Age Support Ratio: Residents Aged 20-64 Years Per Resident Aged 65 Years & Over (Number)                             19 non-null     float64
 24  Age Dependency Ratio: Residents Aged Under 20 Years And 65 Years & Over Per Hundred Residents Aged 20-64 Years (Number)  19 non-null     float64
 25  Child Dependency Ratio: Residents Aged Under 20 Years Per Hundred Residents Aged 20-64 Years (Number)                    19 non-null     float64
 26  Old-Age Dependency Ratio: Residents Aged 65 Years & Over Per Hundred Residents Aged 20-64 Years (Number)                 19 non-null     float64
 27  Old-Age Support Ratio: Citizens Aged 15-64 Years Per Citizen Aged 65 Years & Over (Number)                               19 non-null     float64
 28  Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number)    19 non-null     float64
 29  Child Dependency Ratio: Citizens Aged Under 15 Years Per Hundred Citizens Aged 15-64 Years (Number)                      19 non-null     float64
 30  Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 15-64 Years (Number)                   19 non-null     float64
 31  Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over (Number)                               19 non-null     float64
 32  Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number)    19 non-null     float64
 33  Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years (Number)                      19 non-null     float64
 34  Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years (Number)                   19 non-null     float64
 35  Resident Natural Increase (Number)                                                                                       19 non-null     object
 36  Rate Of Natural Increase (Per Thousand Residents)                                                                        19 non-null     float64
 37  India_Precipitation(mm)                                                                                                  19 non-null     float64
 38  India_Temp(°C)                                                                                                           19 non-null     float64
 39  Thailand_Precipitation(mm)                                                                                               19 non-null     float64
 40  Thailand_Temp(°C)                                                                                                        19 non-null     float64
dtypes: float64(27), int64(7), object(7)
memory usage: 6.2+ KB

### Write to CSV

In [97]:
## write to csv
final_merge.to_csv('../Dataset/rice_cleaned.csv', index=False)