# Vietnam Data Cleaning

In [1]:
# Import Statements
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../Dataset/VIETNAM.csv")
df.head()

   province  max  min  wind wind_d  rain  humidi  cloud  pressure        date
0  Bac Lieu   27   22    17    NNE   6.9      90     71      1010  2009-01-01
1  Bac Lieu   31   25    20    ENE   0.0      64     24      1010  2010-01-01
2  Bac Lieu   29   24    14      E   0.0      75     45      1008  2011-01-01
3  Bac Lieu   30   24    30      E   0.0      79     52      1012  2012-01-01
4  Bac Lieu   31   25    20    ENE   0.0      70     24      1010  2013-01-01

In [ ]:
## FORMULA FOR MEDIAN = ((max-min)/2)+min

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181960 entries, 0 to 181959
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   province  181960 non-null  object
 1   max       181960 non-null  int64
 2   min       181960 non-null  int64
 3   wind      181960 non-null  int64
 4   wind_d    181960 non-null  object
 5   rain      181960 non-null  float64
 6   humidi    181960 non-null  int64
 7   cloud     181960 non-null  int64
 8   pressure  181960 non-null  int64
 9   date      181960 non-null  object
dtypes: float64(1), int64(6), object(3)
memory usage: 13.9+ MB

In [9]:
# check for nulls
df.isnull().sum()

province    0
max         0
min         0
wind        0
wind_d      0
rain        0
humidi      0
cloud       0
pressure    0
date        0
dtype: int64

In [8]:
df.province.unique()

array(['Bac Lieu', 'Ho Chi Minh City', 'Tam Ky', 'Ben Tre', 'Hoa Binh',
       'Tan An', 'Bien Hoa', 'Hong Gai', 'Thai Nguyen', 'Buon Me Thuot',
       'Hue', 'Thanh Hoa', 'Ca Mau', 'Long Xuyen', 'Tra Vinh', 'Cam Pha',
       'My Tho', 'Tuy Hoa', 'Cam Ranh', 'Nam Dinh', 'Uong Bi', 'Can Tho',
       'Nha Trang', 'Viet Tri', 'Chau Doc', 'Phan Rang', 'Vinh', 'Da Lat',
       'Phan Thiet', 'Vinh Long', 'Ha Noi', 'Play Cu', 'Vung Tau',
       'Hai Duong', 'Qui Nhon', 'Yen Bai', 'Hai Phong', 'Rach Gia',
       'Hanoi', 'Soc Trang'], dtype=object)

In [10]:
# check for value counts of habitat column
df.province.value_counts()

Bac Lieu            4549
Ho Chi Minh City    4549
Nha Trang           4549
Viet Tri            4549
Chau Doc            4549
Phan Rang           4549
Vinh                4549
Da Lat              4549
Phan Thiet          4549
Vinh Long           4549
Ha Noi              4549
Play Cu             4549
Vung Tau            4549
Hai Duong           4549
Qui Nhon            4549
Yen Bai             4549
Hai Phong           4549
Rach Gia            4549
Hanoi               4549
Can Tho             4549
Uong Bi             4549
Nam Dinh            4549
Buon Me Thuot       4549
Tam Ky              4549
Ben Tre             4549
Hoa Binh            4549
Tan An              4549
Bien Hoa            4549
Hong Gai            4549
Thai Nguyen         4549
Hue                 4549
Cam Ranh            4549
Thanh Hoa           4549
Ca Mau              4549
Long Xuyen          4549
Tra Vinh            4549
Cam Pha             4549
My Tho              4549
Tuy Hoa             4549
Soc Trang           4549
Name: province, dtype: int64